#overlay{
    z-index: 2;
    /* background: rgba(255,255,255,.3); */
    height: 100vh;
    width: 100vw;    
    }
#Eintrag{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}
#Eintrag h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
#Eintrag input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: dodgerblue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;   
}
.inputBox{
    position: relative;
}
.inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.inputBox label{
    position: absolute;
    top: -18px;
    padding: 10px 0;
    left: 0;
    color:dodgerblue;
    pointer-events: none;
    transition: .5s;
}
#zurueck{
    float: left;
}
#aktualisieren{
    float: right;
}