<div id="overlay">
  <div id="Eintrag">
    <h2>{{erstellungsTitel}}</h2>
    <br><br>
    <form [formGroup]="neuerEintrag" (ngSubmit)="submit(neuerEintrag.value)">
      <div class="field">
        <div class="control">
          <label for="eintrag">Kategorie: </label>
          <select name="eintrag" formControlName="EintragArt" (change)="changeUhr($event.target.value)">
            <option value="Ziel">Ziel</option>
            <option value="Erinnerung">Erinnerung</option>
            <option value="Kalender">Kalender</option>
            <option value="Tagebuch">Tagebuch</option>
            <option value="ToDo">ToDo</option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <div class="inputBox">
        <div class="field">
          <div class="control">
            <input type="date" name="" required="" formControlName="Datum">
            <label class="full">Datum</label>
          </div>
        </div>
      </div>
      <div class="inputBox" *ngIf="uhr">
        <input type="time" name="" required="" formControlName="Uhrzeit">
        <label class="full">Uhrzeit</label>
      </div>
      <div class="inputBox">
        <div class="field">
          <div class="control">
            <input type="text" name="" required="" formControlName="Titel">
            <label>Titel</label>
          </div>
        </div>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" formControlName="Untertitel">
        <label>Untertitel</label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" formControlName="Text">
        <label>Text</label>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="" formControlName="Notiz">
        <label>Notiz</label>
      </div>
      <div class="inputBox">
        <input style="margin:'0'" type="text" name="" required="" formControlName="Anmerkung">
        <label>Anmerkung</label>
      </div>

      <div style="margin:'15px 0';color: red" class="field has-text-danger">{{nachricht}}</div>

      <input id="bestaetigen" type="submit" value="bestätigen">

    </form>
    <input id="zurueck" (click)="goBack()" type="submit" value="zurück">
  </div>
</div>